<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="../lib/css/bootstrap.min.css" rel="stylesheet">
        <link href="../lib/css/style.css" rel="stylesheet">
        
        
    </head>
    <body>
        <div id="header" class="container">
            <!-- Fixed navbar -->
            <div class="navbar navbar-default navbar-static-top" role="navigation">
                <div class="container">                    
                    <a class="navbar-brand" href="http://localhost:8084/UppBio/view/service.html">О сервисе</a>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="http://localhost:8084/UppBio/">Главная</a></li>    
                        </ul>
                    </div>
                </div>                
            </div>
        </div>

        <div class="alert alert-success" role="alert">
            <a href="#" class="alert-link">Dadojon Dadojonov SAU-141</a>
        </div>
        
         <script src="../lib/js/jquery.min.js"></script>
        <script src="../lib/js/bootstrap.min.js"></script>
        
    </body>
</html>
